@import 'Meyer-Reset.css';

.App {
  display: flex;
  height: 100vh;
  color: rgb(65, 65, 65);
  font-family: 'Nanum Gothic', sans-serif;
}

h1 {
  font-size: 24pt;
}

h2 {
  font-size: 18pt;
  padding: 1rem
}

h3 {
  font-size: 14pt;
  font-weight: 700;
}

p {
  font-size: 11pt;
}

.sidebar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding: 5px;
  height: 100vh;
  width: 4.5%;
  position: fixed;
  background-color: rgb(181,193,180);
  z-index: 2;
  color: rgb(65, 65, 65)
}

.icon-navigation {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.sidebar-icon, .icon {
  padding: 1rem 1rem 0 1rem;
}

.specs-icon, .detail {
  margin: .5rem;
}

.icon:hover {
  color: rgb(231, 154, 10);
}

.main-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;
  padding-left: 5%;
  width: 95%;
  z-index: 1;
  box-sizing: border-box;
}

.flex-row-container {
  display: flex; 
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  width: 95%;
  padding-left: 5%;
}

.landing-page-address {
  display: flex;
  align-items: center;
  justify-content: center;
}

.center {
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.trails-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  text-align: center;
}

.trail-card {
  box-shadow: 0 8px 8px -6px grey;
  margin: .2rem;
  padding: .5rem;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  background-color: rgba(233, 233, 233, 0.5)
}

.trail-card p {
  font-size: 8pt;
}

.trail-card:hover {
  background-color: rgba(181,193,180, .5)
}

.trail-card:active {
  background-color: rgb(231, 154, 10);
}

.specs-card {
  position: absolute;
  width: 45%;
  height: fit-content;
  left: 35%;
  top: 10%;
  z-index: 1;
  box-shadow: 0 8px 8px -6px grey;
  border-radius: 8px;
  background-color: rgba(181, 193, 180, 0.5);
  padding: 1rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.specs-header, .specs-summary, #login-section, #login-form, #create-user-form, #new-user-section {
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
 text-align: center;
}

.specs-icon-header, .specs {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.specs {
  margin-top: .5rem;
  padding-bottom: .5rem; 
  margin-bottom: .5rem;
  border-bottom: solid 1px rgb(65, 65, 65);
}

form {
  margin: 1rem;
}

input {
  padding: .5rem;
  margin: .25rem;
  width: 13rem;
  border-radius: 25px;
  border: solid .5px rgba(65, 65, 65, .3)
}

input:focus {
  outline: none;
}

.btn {
  color: white;
  background-color: rgba(65, 65, 65, .5);
  width: 8rem;
  padding: .5rem 1.5rem .5rem 1.5rem;
  margin: .5rem;
  border-radius: 25px;
  border: none; 
}

.btn:hover {
  background-color: rgb(231, 154, 10)
}

.icon-trio {
  display: flex;
  justify-content: center;
  align-items: center;
}

#activity-text {
  font-size: 32pt;
  font-weight: 400;
}

#activity-choice {
  color: rgb(231, 154, 10);
  font-weight: 700;
  letter-spacing: 0px;
  border-bottom: 5px solid rgb(231, 154, 10);
}

#logout-x {
  margin: 2rem;
}

#logout-text {
  z-index: 10;
  position: absolute;
  left: 7%;
  top: 96%;
  font-size: 10pt;
  color:rgb(231, 154, 10);
}
.login-text{
  font-size: 10px;
}

a:link, a:visited {
  color: rgb(65, 65, 65);
  text-decoration: none
}

.hidden {
  visibility: hidden;
}
